* {
    padding: 0;
    margin: 0;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url("../assets/images/cosmos.jpg");
}

@keyframes back-anim {
    0% {
      background-position: center;
    }
    50% {
      background-position: 15px;
    }
    100% {
      background-position: center;
    }
  }

@media screen and (max-width: 700px) {
	* {
        padding: 0;
        margin: 0;
    }
    body {
        background-image: url("../assets/images/cosmos.jpg");
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }
}
/* @media screen and (max-width: 700px) */